<body class="w3-light-white">
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <br>
  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
        <div class="w3-third">
          <app-resources-menu></app-resources-menu>
          <br>
        <!-- End Left Column -->
        </div>
    <!-- Right Column -->
    <div class="w3-twothird" *ngIf="!isTeacher">
      <div class="w3-container w3-card w3-white w3-margin-bottom" *ngFor="let goal of goalsList">
        <h3 class="w3-text-grey w3-padding-16">
          <i class="fa fa-sticky-note-o fa-fw w3-margin-right w3-xxlarge w3-text-teal">
          </i> {{ goal.goalName }}
          <span></span>
        </h3>
          <h4>Description:
            <h5 class="w3-text-grey w3-padding-16"> {{ goal.description }}</h5>
          </h4>
        <div>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Due Date:</h6>
        </div>
        <div>
        <button class="delete" (click)="deleteGoalStudent(goal.id)">
       Delete
     </button>
   </div>
      </div>
    <!-- End Right Column -->

    <div class="w3-twothird" *ngIf="isTeacher">
      <div class="w3-container w3-card w3-white w3-margin-bottom" *ngFor="let goal of goalsList">
        <h3 class="w3-text-grey w3-padding-16">
          <i class="fa fa-sticky-note-o fa-fw w3-margin-right w3-xxlarge w3-text-teal">
          </i> {{ goal.goalName }}
          <span></span>
        </h3>
          <h4>Description:
            <h5 class="w3-text-grey w3-padding-16"> {{ goal.description }}</h5>
          </h4>
        <div>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> Due Date:</h6>
        </div>
        <div>
        <button class="delete" (click)="deleteGoalTeacher(goal.id)">
       Delete
     </button>
   </div>
      </div>
    <!-- End Right Column -->
    </div>

    </div>
  <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>

</body>
