<div *ngIf="isTeacher">
<ul>
  <li><a class="active" routerLink="/home">Login</a></li>
  <li><a routerLink="/teacher">Home</a></li>
  <li><a routerLink="/teacher/goals">Goals</a></li>
  <li><a routerLink="/assign">Assign Goals</a></li>
  <li><a routerLink="/individual">Individual Students</a></li>
  <span class="example-spacer"></span>
</ul>
</div>

<div *ngIf="!isTeacher">
  <ul>
    <li><a class="active" routerLink="/home">Login</a></li>
    <li><a routerLink="/students">Home</a></li>
    <li><a routerLink="/students-history">Goal History</a></li>
    <li><a routerLink="/students-individual">Individual Progress</a></li>
    <span class="example-spacer"></span>
  </ul>
</div>
