<!DOCTYPE html>

<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
table {
  border-collapse: collapse;
}
table, td, th {
  border: 1px solid;
}

td {
  height: 40px;
}

th {
  height: 30px;
}
</style>

<body class="w3-light-white">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <br>

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
        <div class="w3-third">

          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
            </div>
            <div class="w3-container">
              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Resources</b></p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Create New Goal</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Individual Student Progress</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Home</p>
              <hr>
            </div>
          </div><br>

        <!-- End Left Column -->
        </div>




    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Individual Students</h2>
        <div class="w3-container">
        </div>
        <div>
        </div>
        <table class="table2" style="width:90%">
          <thead>
            <tr><th>Name</th> <th>Goals Assigned</th> <th>Goals Completed</th></tr>
          </thead>
          <tbody>
            <tr class="danger"><td>John Doe</td><td>7</td><td>3</td></tr>
            <tr class="sucess"><td>Mary Moe</td><td>10</td><td>10</td></tr>
            <tr class="sucess"><td>July Dooley</td><td>8</td><td>8</td></tr>
            <tr class="danger"><td>Jake Smith</td><td>14</td><td>13</td></tr>
            <tr class="danger"><td>Mary Cara</td><td>6</td><td>2</td></tr>
            <tr class="sucess"><td>Penelope Kate</td><td>3</td><td>3</td></tr>
          </tbody>
        </table>
        <br>
        <br><br>
      </div>


    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<br><br><br><br><br><br><br><br><br><br><br>
<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Copyright Olivea Varady 2018</p>
</footer>

</body>
</html>
