.table2 {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  margin-left: 40px;
}

.danger {
  background-color: #f9c0c0;
}

.sucess {
  background-color: #c2ffb5;
}

.card {
  margin-top: 2%;
  margin-left: 2%;
}

.container {
  margin-left: 23%;
  width: 75%;
}
