
<div class="container">
<div class="row">
<div class="col-6 col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Resources:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Haiku</li>
      <li class="list-group-item">Course Syllabus</li>
      <li class="list-group-item">Rubrics</li>
      <li class="list-group-item">Additional Information</li>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-header">
      Extra Help:
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: qween@qween.me</li>
      <li class="list-group-item">Office Hours: 7th and 8th period everyday</li>
    </ul>
  </div>
</div>



  <div class="col-12 col-md-8">
  <h2>Student Individual Progress</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Goals Assigned</th>
        <th>Goals Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>10</td>
        <td>5</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>12</td>
        <td>9</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>5</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</div>
