<div class="card" style="width: 18rem;">
  <div class="card-header">
    Resources:
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Create New Goal</li>
    <li class="list-group-item">Home</li>
  </ul>
</div>
<br>

<div class="container">
  <h2>Your Progress</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
