<!DOCTYPE html>

<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-white">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">


  <!-- The Grid -->
  <div class="w3-row-padding">
    <h1> Welcome, Dr. Smith!</h1>

    <!-- Left Column -->
        <div class="w3-third">

          <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
            </div>
            <div class="w3-container">
              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Resources</b></p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Haiku</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Course Syllabus</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Rubrics</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Additional Readings</p>
              <hr>

              <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Extra Help</b></p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: qween@qween.me</p>
              <p><i class="fa-fw w3-margin-right w3-large w3-text-teal"></i>Office Hours: 7th and 8th period everyday</p>
              <hr>

              <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Student's Average Progress</b></p>
              <p>Skills of a Student:</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
              </div>
              <p>Essays:</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
              </div>
              <p>Tests:</p>
              <div class="w3-light-grey w3-round-xlarge">
                <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
              </div>
              <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Individual Students</b></p>
              <button class="button3" routerLink="/individual">Click Here</button>
              <br><br>
            </div>
          </div><br>

        <!-- End Left Column -->
        </div>


    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Create New Goal</h2>
        <div class="w3-container">
        <h5 class="w3-opacity"><b><form action="/action_page.php"><input type="text" maxlength="80" size="80"></form></b></h5><br>
        </div>
        <button class="button2" routerLink="/assign">Create Goal</button>
        <br><br>
      </div>

    <!-- assign assignment code goes here -->

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Copyright Olivea Varady 2018</p>
</footer>

</body>
</html>
