.w3-container {

}

.button {
  background-color: #888;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-left: 135px;
  border-radius: 8px;
}

.button:hover {
    background-color: #8886 ;
}

.button1 {
  background-color: #888;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.button1:hover {
    background-color: #8886 ;
}

.button2 {
  background-color: #888;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 330px;
}

.button2:hover {
    background-color: #8886 ;
}

#edit-date{
float: right;
margin-right: 625px
}
