<div class="container">
  <div class="row">
    <div class="col-2 col-md-2">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Resources:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Haiku</li>
          <li class="list-group-item">Course Syllabus</li>
          <li class="list-group-item">Rubrics</li>
          <li class="list-group-item">Additional Information</li>
        </ul>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Extra Help:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Email: qween@qween.me</li>
          <li class="list-group-item">Office Hours: 7th and 8th period everyday</li>
        </ul>
      </div>
    </div>

      <div class="col-8 col-md-8" id= "card1">
        <div class="card-header">
          Today's Goals:
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h1>Post AP CompSci</h1>
              <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste. Consectetur adipisicing elit. Praesentium magnam consectetur
                vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </li>
            <li class="list-group-item">
              <h1>APEX</h1>
              <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste. Consectetur adipisicing elit. Praesentium magnam consectetur
                vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
