body {
 background-image: "assets/img/books.jpg";
}

p {
  padding-left: 30px;
  font-size: 45px;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
	padding: 1px 15px;
	color: #A0A0A0;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 90%;
	-webkit-border-radius: 90%;
	border-radius: 90%;
}

#books {
  /* padding-left: 165px; */
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.rectangle {
  height: 510px;
  width: 600px;
  background-color: #555;
}
