/* body, html {
  height: 100%;
  margin: 0;
  background-image: url("/assets/img/books.jpg");
} */


/* #books {
  width: 100%;
  height: 100%;
  padding-top: 50px;
} */

body{
  background-image: url("/assets/img/circles.png");
  background-repeat: no-repeat;
}

#googlesign {
  width: 35%;
  height: 35%;
}

.column {
  width: 55%;
  height: 85%;
  padding-top: 45px;
  padding-left: 320px;

}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 35px;
}

.rightc {
}
