.button2 {
  background-color: #888;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 330px;
}

/* .button2: hover {
    background-color: #8886;
} */

.table1 {
  margin-left: 80px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* .dropdown {
  background-color: #888;
  border: none;
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
} */
