<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body class="w3-light-white">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
    <br>

    <!-- The Grid -->
  <div class="w3-row-padding">
    <h1> Your Goal History!</h1>


      <div class="row">
        <div class="column">
          <div class="card">
            <h3>Card 1</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Card 2</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <h3>Card 3</h3>
            <p>Some text</p>
            <p>Some text</p>
          </div>
        </div>
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

</body>

</html>
