.w3-container {

}

.button3 {
  background-color: #8886;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 710px;
}

.button3:hover {
  background-color: #ccffb3;
}

.button2 {
  background-color: #8886;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border-color: #000000;
  margin-left: 10px;
}

.button2:hover {
  background-color: #ff9980;
}
