<!DOCTYPE html>
<html>
<body>
<style>
.myClass {
  color: white;
  background-color: DodgerBlue;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
</style>

<h1>Goal Completion:</h1>

<p> If the goal is completed, click true. If not, click false.<p>
	<form action="#" method = "post">
<input type ="text" maxlength="50" class="form-control" name="student"placeholder="Name of student">
<input type ="text" maxlength="50" class="form-control" name="goal"placeholder="Subject for Goal/Name">
    <input type="radio" name="options" value="True" checked> True<br>
      <input type="radio" name="options" value="False"> False
      <button type="submit" class="btn btn-default" id="submit" type="submit">
      <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create Goal</button>
</script>
</form>
<a href = '/loggedin' > Back to Home </a></br></br>
</body>
</html>
