<!DOCTYPE html>
<html>
<body>
<style>
.myClass {
  color: white;
  background-color: DodgerBlue;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
</style>

<h1>Create Students</h1>

<p> Description:<p>
	<form action="#" method = "post">
<label for="name">Name:</label>
<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of student">
<button type="submit" class="btn btn-default" id="submit" type="submit">
<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
</script>
</form>
<a href = '/loggedin' > Back to Home </a></br></br>
</body>
</html>
