.table2 {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  margin-left: 40px;
}

.danger {
  background-color: #f9c0c0;
}

.sucess {
  background-color: #c2ffb5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: auto;
  width: 60%;
  margin-left: 25%;
}

.cardleft{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 25%;
  width: 20%;
  padding-bottom: 25%;
}
