
<body class="w3-light-white">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">
  <br>

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Right Column -->
    <div class="w3-onethird">

      <div class="w3-container w3-card w3-white" id="ahistory">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Goal History</h2>
        <div class="w3-container">
          <hr>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Due: 12/16/18 </h6>
          <h5 class="w3-opacity"><b><form action="/action_page.php">Goal: </form></b></h5>
          <p> Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Due: 11/30/18</h6>
          <h5 class="w3-opacity"><b><form action="/action_page.php">Goal: </form></b></h5>
          <p> Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Due: 11/15/18</h6>
          <h5 class="w3-opacity"><b><form action="/action_page.php">Goal: </form></b></h5>
          <p> Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <br>
        </div>
      </div>



    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Copyright Olivea Varady 2018</p>
</footer>
